/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap';

$font-family: "Nunito", sans-serif;
$font-family-serif: "Nunito", sans-serif;

/*-- scss:rules --*/
kbd,
.kbd {
    background-color: #f6f5f5 !important;
}

.navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-family: $font-family;
}

/* Apply the font-family to body to ensure all text uses Nunito */
body {
    font-family: $font-family;
}